<h1>Dashboard</h1>

<h2>
Welcome {{ request.user.username }}
</h2>

<hr>

<h2>My Projects</h2>

<h1>Dashboard</h1>

<a href="/">Home</a>

|

<a href="/project/create/">Create Project</a>

|

<a href="/projects/">Browse Projects</a>

|

<form action="/logout/" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<hr>

{% for project in my_projects %}

    <p>
        {{ project.title }}
    </p>

{% empty %}

    <p>
        No projects created.
    </p>

{% endfor %}

<hr>

<h2>Applications Sent</h2>

{% for application in applications_sent %}

    <p>

        {{ application.project.title }}

        -

        {{ application.status }}

    </p>

{% empty %}

    <p>
        No applications sent.
    </p>

{% endfor %}

<hr>

<h2>Requests Received</h2>

{% for request_obj in requests_received %}

<p>

Applicant:
{{ request_obj.applicant }}

|

Project:
{{ request_obj.project.title }}

|

Status:
{{ request_obj.status }}

</p>

{% if request_obj.status == 'pending' %}

<a href="{% url 'accept_request' request_obj.id %}">
    Accept
</a>

<a href="{% url 'reject_request' request_obj.id %}">
    Reject
</a>

{% endif %}

<hr>

{% endfor %}

